body{
	
	margin:0px;
	padding:0px;
	
	
}




.header{
	
position:fixed;
width:100%;
height:100x;
top:0px;
margin: 0px auto;
background-color:black;
border-bottom:5px solid white;
	
}

.page{
	
	
	
	
	
}

.footer{
	
	
	
	
}
.column{
	
	width:1000px;
	margin:0px auto;
}
.page .column{
	
	height:100vh;
}

#meni{
	
	display:flex;
	background:black;
	
	
}
#meni a{
	
	flex-grow:1;
	text-align:center;
	display:block;
	padding:10px 10px;
	transition:250ms;
	
}
#meni a img{
	width:100px;
	height:100px;
}
#meni a:hover,
#meni a.active{
	
	background:white;
	color:white;
	
}
#Pocetna{
	text-align:center;
	background:url('../web/pozadina.jpg');
	text-align:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	color:white;
	font-size:18pt;
	
}
#Pocetna h1{
	font-size:40pt;
	margin-top:0px;
	padding-top:150px;
	color:white;
	
}
#box{
	
	border:1px solid white;
	
	
}